name: Build CyrOS Mobile gnome-control-center

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build"
        required: true
        default: "group/next/gnome-48"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git build-essential pkg-config \
            gettext libglib2.0-dev libgirepository1.0-dev \
            libgdk-pixbuf-2.0-dev libxml2-utils \
            python3-pip python3-setuptools python3-wheel \
            dh-sequence-gnome equivs \
            libpulse-dev libcairo2-dev libpango1.0-dev \
            libgraphene-1.0-dev libgtk-4-dev \
            libxkbcommon-dev libegl-dev libgles2-mesa-dev \
            libgl1-mesa-dev libdrm-dev libgbm-dev libx11-dev \
            gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
            gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly \
            gstreamer1.0-libav libgstreamer-plugins-base1.0-dev \
            libgstreamer-plugins-good1.0-dev \
            libgstreamer-plugins-bad1.0-dev \
            libgstreamer1.0-dev \
            gir1.2-gst-plugins-base-1.0

      - name: Clone gnome-control-center
        run: |
          git clone --depth=1 -b ${{ github.event.inputs.branch }} https://github.com/droidian/gnome-control-center.git src

      - name: Install specific GTK version if needed
        run: |
          # Check current GTK version
          pkg-config --modversion gtk4
          # If we need a newer version, we can install from a PPA
          sudo add-apt-repository ppa:gnome-team/gtk4 -y
          sudo apt-get update
          sudo apt-get install -y libgtk-4-dev

      - name: Build gnome-control-center
        run: |
          cd src
          # First try to build with current dependencies
          if dpkg-buildpackage -b -us -uc -d; then
            echo "Build successful"
          else
            echo "Build failed, trying to fix dependencies..."
            # Try to install build-dependencies
            sudo mk-build-deps -i -t apt-get -r debian/control
            dpkg-buildpackage -b -us -uc -d
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gnome-control-center-build
          path: |
            *.deb
            *.changes
            *.build
