name: Build GNOME Control Center ARM64

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-arm64:
    runs-on: ubuntu-24.04
    env:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install required system packages
        run: |
          sudo dpkg --add-architecture arm64
          sudo apt-get update
          sudo apt-get install -y \
            build-essential meson ninja-build pkg-config git \
            libcairo2-dev libglib2.0-dev libgirepository1.0-dev \
            libgdk-pixbuf-2.0-dev libxml2-utils python3-pip python3-setuptools python3-wheel \
            libpango1.0-dev libgraphene-1.0-dev libgtk-4-dev libepoxy-dev libxkbcommon-dev \
            libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev \
            gobject-introspection dh-sequence-gnome equivs \
            desktop-file-utils gnome-settings-daemon-dev \
            gsettings-desktop-schemas-dev libaccountsservice-dev \
            libadwaita-1-dev libcolord-dev libcolord-gtk4-dev \
            libcups2-dev libgcr-4-dev libgnome-bg-4-dev \
            libgnome-bluetooth-ui-3.0-dev libgnome-desktop-4-dev \
            libgnome-rr-4-dev libgoa-1.0-dev libgoa-backend-1.0-dev \
            libgsound-dev libhandy-1-dev libibus-1.0-dev libjson-glib-dev \
            libkrb5-dev libmalcontent-0-dev libmm-glib-dev libnm-dev \
            libnma-gtk4-dev libpolkit-gobject-1-dev libpulse-dev \
            libpwquality-dev libsecret-1-dev libsmbclient-dev \
            libpackagekit-glib2-dev libsoup-3.0-dev libudisks2-dev \
            libupower-glib-dev libwacom-dev libx11-dev libxft-dev libxi-dev libxklavier-dev \
            python3-dbusmock tecla

      - name: Clone GTK 4.16 source
        run: |
          mkdir -p ~/src && cd ~/src
          git clone https://gitlab.gnome.org/GNOME/gtk.git
          cd gtk
          git checkout 4.16.10
          mkdir -p build

      - name: Build GTK 4.16
        run: |
          cd ~/src/gtk/build
          meson setup . ../ -Dbuildtype=release -Ddocumentation=true -Dpython.bytecompile=-1
          meson compile -C .

      - name: Clone GNOME Control Center
        run: |
          mkdir -p ~/src && cd ~/src
          git clone https://gitlab.gnome.org/GNOME/gnome-control-center.git
          cd gnome-control-center
          git checkout 48.2
          mkdir -p build

      - name: Build GNOME Control Center
        run: |
          cd ~/src/gnome-control-center/build
          meson setup . ../ -Dbuildtype=release -Dtests=false --prefix=/usr
          meson compile -C .

      - name: Package GNOME Control Center
        run: |
          cd ~/src/gnome-control-center
          sudo ninja -C build install
