name: Build CyrOS Mobile gnome-control-center

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build"
        required: true
        default: "main"

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install base build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential git meson ninja-build pkg-config \
            gettext libglib2.0-dev libgirepository1.0-dev \
            libgdk-pixbuf-2.0-dev libxml2-utils \
            python3-pip python3-setuptools python3-wheel \
            dh-sequence-gnome equivs \
            libpulse-dev libcairo2-dev libpango1.0-dev \
            libgraphene-1.0-dev libgtk-4-dev \
            libxkbcommon-dev libegl-dev libgles2-mesa-dev \
            libgl1-mesa-dev libdrm-dev libgbm-dev libx11-dev \
            gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
            gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly \
            gstreamer1.0-libav libgstreamer-plugins-base1.0-dev \
            libgstreamer-plugins-good1.0-dev \
            libgstreamer-plugins-bad1.0-dev \
            libgstreamer1.0-dev \
            gir1.2-gst-plugins-base-1.0

      - name: Install Vulkan and shader compiler
        run: |
          sudo apt-get install -y \
            vulkan-tools \
            libvulkan-dev \
            shaderc \
            glslang-tools

      - name: Build GTK 4.16 from source
        run: |
          mkdir -p ~/src && cd ~/src
          git clone https://gitlab.gnome.org/GNOME/gtk.git
          cd gtk
          git checkout 4.16.10
          # Build with GStreamer disabled to avoid potential issues
          meson setup build --prefix=/opt/gtk4 --buildtype=release -Dmedia-gstreamer=disabled
          meson compile -C build
          sudo meson install -C build

      - name: Set GTK environment
        run: |
          echo "PKG_CONFIG_PATH=/opt/gtk4/lib/pkgconfig:\$PKG_CONFIG_PATH" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=/opt/gtk4/lib:\$LD_LIBRARY_PATH" >> $GITHUB_ENV
          echo "PATH=/opt/gtk4/bin:\$PATH" >> $GITHUB_ENV

      - name: Clone gnome-control-center
        run: |
          git clone https://github.com/droidian/gnome-control-center.git src
          cd src
          git checkout ${{ github.event.inputs.branch }}

      - name: Build gnome-control-center
        run: |
          cd src
          dpkg-buildpackage -b -us -uc -d

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gnome-control-center-build
          path: |
            *.deb
            *.changes
            *.build
