name: Build CyrOS Mobile gnome-control-center

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build"
        required: true
        default: "group/next/gnome-48"

jobs:
  build:
    runs-on: ubuntu-24.10

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git build-essential pkg-config \
            gettext libglib2.0-dev libgirepository1.0-dev \
            libgdk-pixbuf-2.0-dev libxml2-utils \
            python3-pip python3-setuptools python3-wheel \
            dh-sequence-gnome equivs \
            libpulse-dev libcairo2-dev libpango1.0-dev \
            libgraphene-1.0-dev libgtk-4-dev \
            libxkbcommon-dev libegl-dev libgles2-mesa-dev \
            libgl1-mesa-dev libdrm-dev libgbm-dev libx11-dev

      - name: Check GTK version
        run: |
          pkg-config --modversion gtk4
          echo "If this is 4.14.5 or lower, we need a different approach"

      - name: Clone gnome-control-center
        run: |
          git clone --depth=1 -b ${{ github.event.inputs.branch }} https://github.com/droidian/gnome-control-center.git src

      - name: Build gnome-control-center
        run: |
          cd src
          # Try to install build dependencies first
          sudo mk-build-deps -i -t apt-get -r debian/control
          dpkg-buildpackage -b -us -uc -d

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gnome-control-center-build
          path: |
            *.deb
            *.changes
            *.build
